.category {
  padding: 10px;
  .category-btn {
    background-color: darken($blue, 20%);
    opacity: 0.7;
    border-radius: 5px;
    padding: 10px;
    &>p {
      opacity: 1;
      font-size: 14px;
      margin: 0px;
    }
  }
  &.active>.category-btn {
    background-color: $green;
    opacity: 0.8;
    &>p {
    color: white;
    }
  }
}

.save-btn {
  margin: 20px 0px;
}
