#cars-list {
  padding: 0px;
  list-style-type: none;
  li {
    height: 15vh;
    background-color: rgba(209, 209, 209, 0.6);
    .col-xs-12 {
      .flex-ver-center {
          justify-content: space-between;
        }
      height: 100%;
      .img-container {
        height: 100%;
        padding: 5%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .car-details {
        p {
          font-size: 4vw;
          padding: 0px;
          margin: 0px;
        }
        .flex-ver-center {
          justify-content: space-around;
          .btn {
            width: 13vw;
            height: 4vh;
            font-size: 2.8vw;
          }
        }
      }
    }
  }
}
