#profile-edit {
  .btn {
    font-size: 3.3vw;
    width: 20vw;
  }
}

.attachinary-input {
   width: 100%
  }

#gallery-btn {
  margin-bottom:  50px;
  &:hover {
    color: white;
  }
  &:active {
    color: white;
  }
  &:focus {
    color: white;
  }
}

.bold {
  font-weight: bold;
}

