// car card
.car-card {
  height: 19vh;
  background-color: rgba(229, 229, 229, 0.7);
  display: flex;
  align-items: center;
  .col-xs-5 {
    height: 100%;
    .car-image {
      height: 90%;
      padding: 0px 10%;
      background-color: rgba(256, 256, 256, 0.6);
      img {
        padding: 10px;
        width: 100%;
        height: 90%;
      }
    }
  }
  .car-details {
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .car-model-brand {
        font-size: 20px;
        padding: 5px;
      }
    }
    .glyphicon.glyphicon-adjust {
      font-size: 15px;
      height: 40px;
      p {
        font-size: 12px;
        height: 15px;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
      }
    }
    .immatriculation {
      font-size: 12px;
      padding-left: 10px;
    }
    .min-category {
      height: 100%;
      img {
        margin-top: 3vh;
        width: 14vw;
      }
    }
  }
}

// parking period recap
.recap-cleaning {
  p {
    margin-bottom: 3px;
    margin-left: 16px;
  }
}

// choosen-cleaner
.choosen-cleaner {
  color: black;
  p {
    color: white;
    margin: 0px;
  }
  .card {
    margin: 0px;
    padding: 5px;
    background-color: rgba(209, 209, 209, 0.7);
  }
}

.col-contact-cleaner-btn {
  position: relative;
  .btn-cache {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 50px;
    z-index: 4;
    width: 100%;
  }
}
