#dashboard-h1 {
  font-size: 10vw;
}

.created-at {
  font-size: 3vw;
}

// cleaner side
#cleaner-section {
  h2 {
    font-size: 7vw;
  }
  .profil-description {
    background-color: rgba(50, 183, 150, 0.6);
    p {
      margin: 0px;
    }
    .cleaner-picture {
      padding: 10px;
      img {
        width: 90%;
      }
    }
    .cleaner-details {
      padding-right: 0px;
      overflow: hidden;
      .name {
        font-size: 5.6vw;
        width: 100%;

      }
      .address {
        font-size: 3vw;
      }
      .email {
        font-size: 4vw;
        width: 100%;
        overflow: hidden;
      }
    }
  }

  #cleaner-edit {
    font-size: 4vw;
  }

  .dashboard-cleaner-ul {
    list-style-type: none;
    padding: 0px;
    .created-at {
      margin: 0px;
      font-size: 3vw;
    }
    li {
      margin-top: 0px;
    }
    .card {
      position: relative;
      padding: 10px;
      display: flex;
      align-items: center;
      color: black;
      background-color: #e5e5e5;
      opacity: 0.9;
      margin-bottom: 10px;
      .place {
        padding: 0px;
      }
      .date {
        padding: 0px;
      }
      .col-xs-2.img-col {
        padding: 0px;
        img {
          padding: 10%;
          height: 7.5vh;
          width: 100%;
          background-color: white;
        }
      }
      .col-xs-2.car-col {
        padding-left: 3%;
      }
      .col-xs-2.col-btn {
        padding: 0px;
        z-index: 3;
        .btn {
          font-size: 3vw;
        }
        #accept-btn {
          z-index: 4;
        }
      }
      .dashboard-cleaning-description {
        font-size: 2.7vw;
        margin: 0px;
      }
      .dashboard-cleaner-link {
        text-decoration: none;
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
        color: white;
        justify-content: center;
        margin-left: -10px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
        p {
          font-size: 4vw;
          text-shadow: 3px 3px 3px black;
        }
      }
      .stripe {
        color: white;
        background: repeating-linear-gradient(
          -55deg,
          #222,
          #222 10px,
          #333 10px,
          #333 20px
        );
        opacity: 0.8;
      }
    }
  }
}

// client side
#client-section {
  .status {
    font-weight: bold;
    text-decoration: underline;
  }

  .profil-description {
    background-color: rgba(50, 183, 150, 0.6);
    p {
      margin: 0px;
    }
    .client-picture {
      padding: 10px;
      img {
        width: 90%;
      }
    }
    .client-details {
      padding-right: 0px;
      overflow: hidden;
      .name {
        font-size: 5.6vw;
      }
      .address {
        font-size: 3vw;
      }
      .email {
        font-size: 5vw;
      }
      .flex-ver-center {
        justify-content: space-between;
        .cars {
          font-size: 3.5vw;
        }
      }
    }
  }

  #client-edit {
    font-size: 5vw;
  }

  .dashboard-client-ul {
    list-style-type: none;
    padding: 0px;
    .dashboard-cleaning-link {
      text-decoration: none;
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 100%;
      margin-left: -10px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    li.card {
      position: relative;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: black;
      background-color: #e5e5e5;
      opacity: 0.9;
      .p-status-pending {
        color: #e57d14;
      }
      .p-status-confirmed {
        color: rgb(48, 121, 171);
      }
      .p-status-complete {
        color: rgb(48, 211, 130);
      }
      img {
        width: 50px;
        height: 50px;
        background-color: white;
      }
      .dashboard-cleaning-description {
        font-size: 12px; margin: 0px;
      }
      .dashboard-client-link {
        text-decoration: none;
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        color: white;
        justify-content: center;
        margin-left: -10px;
        background-color: rgba(0, 0, 0, 0.7);
        p {
          font-size: 4vw;
          text-shadow: 3px 3px 3px black;
        }
      }
      .btn-hide {
        z-index: 2;
      }
      .stripe {
        color: white;
        background: repeating-linear-gradient(
          -55deg,
          #222,
          #222 10px,
          #333 10px,
          #333 20px
        );
        opacity: 0.8;
      }
      .flex-ver-center {
        justify-content: center;
      }
    }
  }
}

.save-infos {
  width: 45%;
  font-size: 3.5vw;
}
