<div class="col-xs-12 margin-top15">
  <li >
    <div class="card col-xs-6 col-xs-offset-3 flex-ver-center cleaner-loading-svg">
      <div class="col-xs-2 text-center">
        <%= render "shared/svg_loader" %>
      </div>
      <div class="col-xs-10">
        <p>Searching for a cleaner</p>
      </div>
    </div>
  </li>
</div>
