
<div class="btn-group">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select your Car Brand <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
                    <li value="ABARTH">ABARTH</li>
                    <li value="AC">AC</li>
                    <li value="AIXAM">AIXAM</li>
                    <li value="ALFA ROMEO">ALFA ROMEO</li>
                    <li value="ALKE">ALKE</li>
                    <li value="ALPINA">ALPINA</li>
                    <li value="ALPINE">ALPINE</li>
                    <li value="AMC">AMC</li>
                    <li value="ARIEL">ARIEL</li>
                    <li value="ARO">ARO</li>
                    <li value="ASTON MARTIN">ASTON MARTIN</li>
                    <li value="AUBURN">AUBURN</li>
                    <li value="AUDI">AUDI</li>
                    <li value="AUSTIN">AUSTIN</li>
                    <li value="AUSTIN HEALEY">AUSTIN HEALEY</li>
                    <li value="AUTOBIANCHI">AUTOBIANCHI</li>
                    <li value="BELLIER">BELLIER</li>
                    <li value="BENTLEY">BENTLEY</li>
                    <li value="BMW">BMW</li>
                    <li value="BOLLORE">BOLLORE</li>
                    <li value="BUGATTI">BUGATTI</li>
                    <li value="BUICK">BUICK</li>
                    <li value="BURBY S">BURBY S</li>
                    <li value="CADILLAC">CADILLAC</li><li value="CASALINI">CASALINI</li>
                    <li value="CATERHAM">CATERHAM</li>
                    <li value="CHATENET">CHATENET</li>
                    <li value="CHAUSSON">CHAUSSON</li>
                    <li value="CHENARD ET WALCKER">CHENARD ET WALCKER</li>
                    <li value="CHEVROLET">CHEVROLET</li>
                    <li value="CHRYSLER">CHRYSLER</li>
                    <li value="CITROEN">CITROEN</li>
                    <li value="CJ">CJ</li>
                    <li value="DACIA">DACIA</li>
                    <li value="DAEWOO">DAEWOO</li>
                    <li value="DAF">DAF</li>
                    <li value="DAIHATSU">DAIHATSU</li>
                    <li value="DAIMLER">DAIMLER</li>
                    <li value="DANGEL">DANGEL</li>
                    <li value="DE TOMASO">DE TOMASO</li>
                    <li value="DODGE">DODGE</li>
                    <li value="DONKERVOORT">DONKERVOORT</li>
                    <li value="DS">DS</li>
                    <li value="DUE">DUE</li>
                    <li value="EXCALIBUR">EXCALIBUR</li>
                    <li value="FACEL VEGA">FACEL VEGA</li>
                    <li value="FERRARI">FERRARI</li>
                    <li value="FIAT">FIAT</li>
                    <li value="FISKER">FISKER</li>
                    <li value="FORD">FORD</li>
                    <li value="FUSO">FUSO</li>
                    <li value="GMC">GMC</li>
                    <li value="GRECAV">GRECAV</li>
                    <li value="HONDA">HONDA</li>
                    <li value="HUMMER">HUMMER</li>
                    <li value="HYUNDAI">HYUNDAI</li>
                    <li value="INFINITI">INFINITI</li>
                    <li value="INNOCENTI">INNOCENTI</li>
                    <li value="ISUZU">ISUZU</li>
                    <li value="IVECO">IVECO</li>
                    <li value="JAGUAR">JAGUAR</li>
                    <li value="JDM SIMPA">JDM SIMPA</li>
                    <li value="JEEP">JEEP</li>
                    <li value="KIA">KIA</li>
                    <li value="KTM">KTM</li>
                    <li value="LADA">LADA</li>
                    <li value="LAMBORGHINI">LAMBORGHINI</li>
                    <li value="LANCIA">LANCIA</li>
                    <li value="LAND ROVER">LAND ROVER</li>
                    <li value="LEXUS">LEXUS</li>
                    <li value="LIGIER">LIGIER</li>
                    <li value="LINCOLN">LINCOLN</li>
                    <li value="LOTUS">LOTUS</li>
                    <li value="MASERATI">MASERATI</li>
                    <li value="MATRA">MATRA</li>
                    <li value="MAYBACH">MAYBACH</li>
                    <li value="MAZDA">MAZDA</li>
                    <li value="MCLAREN">MCLAREN</li>
                    <li value="MEGA">MEGA</li>
                    <li value="MERCEDES">MERCEDES</li>
                    <li value="MERCEDES_AMG">MERCEDES-AMG</li>
                    <li value="MG">MG</li>
                    <li value="MIA ELECTRIC">MIA ELECTRIC</li>
                    <li value="MICROCAR">MICROCAR</li>
                    <li value="MINAUTO">MINAUTO</li>
                    <li value="MINI">MINI</li>
                    <li value="MITSUBISHI">MITSUBISHI</li>
                    <li value="MITSUOKA">MITSUOKA</li>
                    <li value="MORGAN">MORGAN</li>
                    <li value="MORRIS">MORRIS</li>
                    <li value="MPM MOTORS">MPM MOTORS</li>
                    <li value="NECKAR">NECKAR</li>
                    <li value="NG">NG</li>
                    <li value="NISSAN">NISSAN</li>
                    <li value="NOBLE">NOBLE</li>
                    <li value="NSU">NSU</li>
                    <li value="OLDSMOBILE">OLDSMOBILE</li>
                    <li value="OPEL">OPEL</li>
                    <li value="PACKARD">PACKARD</li>
                    <li value="PANTHER">PANTHER</li>
                    <li value="PEUGEOT">PEUGEOT</li>
                    <li value="PGO">PGO</li>
                    <li value="PIAGGIO">PIAGGIO</li>
                    <li value="PLYMOUTH">PLYMOUTH</li>
                    <li value="PONTIAC">PONTIAC</li>
                    <li value="PORSCHE">PORSCHE</li>
                    <li value="PRINCESS">PRINCESS</li>
                    <li value="RADICAL">RADICAL</li>
                    <li value="RENAULT">RENAULT</li>
                    <li value="RILEY">RILEY</li>
                    <li value="ROLLS ROYCE">ROLLS ROYCE</li>
                    <li value="ROVER">ROVER</li>
                    <li value="SAAB">SAAB</li>
                    <li value="SANTANA">SANTANA</li>
                    <li value="SCANIA">SCANIA</li>
                    <li value="SEAT">SEAT</li>
                    <li value="SHELBY">SHELBY</li>
                    <li value="SIMCA">SIMCA</li>
                    <li value="SKODA">SKODA</li>
                    <li value="SMART">SMART</li>
                    <li value="SSANGYONG">SSANGYONG</li>
                    <li value="STUDEBAKER">STUDEBAKER</li>
                    <li value="SUBARU">SUBARU</li>
                    <li value="SUZUKI">SUZUKI</li>
                    <li value="TALBOT SIMCA">TALBOT SIMCA</li>
                    <li value="TAZZARI">TAZZARI</li>
                    <li value="TEILHOL">TEILHOL</li>
                    <li value="TESLA">TESLA</li>
                    <li value="TOYOTA">TOYOTA</li>
                    <li value="TRIUMPH">TRIUMPH</li>
                    <li value="TVR">TVR</li>
                    <li value="ULTIMA">ULTIMA</li>
                    <li value="VENTURI">VENTURI</li>
                    <li value="VOLKSWAGEN">VOLKSWAGEN</li>
                    <li value="VOLTEIS">VOLTEIS</li>
                    <li value="VOLVO">VOLVO</li>
                    <li value="WESTFIELD">WESTFIELD</li>
                    <li value="WIESMANN">WIESMANN</li>
    </ul>
</div>




