<div class="row text-right mcc-main-title">
  <div class="col-xs-10 col-xs-offset-2">
    <%= link_to root_path do %>
      <h1>My Clean Car</h1>
    <% end %>
    <p class="subtitle">book an eco wash</p>
  </div>
</div>
