<div class="container">
  <div class="row">
    <h1>Your Order</h1>
  </div>

  <div class="row">
    <ul>
      <li>Status: <%= @order.state %></li>
      <li>Item: <%= @order.cleaning.car.category.name %></li>
      <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
    <ul>
  </div>
</div>
