<div class="container">
  <div class="row text-right" style="margin-top: 15px;">
    <div class="col-xs-10 col-xs-offset-2">
      <h2>My Clean Car</h2>
      <h4 style=" color: #00FF00;">book an eco wash</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
    <%= image_tag "bmw_front.jpg", class: "car_photo", height: 60 %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
    <%= image_tag "bmw_side_left.jpg", class: "car_photo", height: 60 %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
    <%= image_tag "bmw_side_right.jpg", class: "car_photo", height: 60 %>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
      Rate your cleaning
      </div>
    </div>
</div>
