<div class="container">

  <div class="row text-right" style="margin-top: 15px;">
    <div class="col-xs-10 col-xs-offset-2">
      <h2>My Clean Car</h2>
      <h6>book an eco wash</h6>
    </div>
  </div>

  <div class="row">

  </div>

</div>
