<div class="container">

  <div class="row text-right" style="margin-top: 15px;">
    <div class="col-xs-10 col-xs-offset-2">
      <h2>My Clean Car</h2>
      <h6>book an eco wash</h6>
    </div>
  </div>

  <div class="row">
    select your car
    (slidebox)
  </div>

  <div class="row">
    enter your parking period
    (icone de calendrier) --datetime picker--

  </div>

  <div class="row">
    Car location during cleaning
    (icone location) --address input--

  </div>

  <div class="row">
    Please confirm the mandatory items to order
    [Easy Access][Security][Private Zone]

  </div>

  <div class="row">
    Give more details to the cleaner (special access, other informations ...)

  </div>

  <div class="row">
    Contact a cleaner

  </div>

</div>
