/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  margin-top: 17vh;
  transition: margin-top 2s;
  height: 12vh;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 10%;
  }
  button {
    margin: 10%;
  }
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

