.flex-ver-center {
  display: flex;
  align-items: center;
}

// row title clean car
.margin-top5 {
  margin-top: 5px;
}

.margin-top15 {
  margin-top: 15px;
}

.margin-top20 {
  margin-top: 20px;
}

.row:last-child {
  margin-bottom: 20px;
}
